.footer__block {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
}

.footer__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.footer__item {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.footer__block img {
    width: 50px;
    height: 50px;
}